# Since Ansible 2.12 (core):
# To generate an example config file (a "disabled" one with all default settings, commented out):
#               $ ansible-config init --disabled > ansible.cfg
#
# Also you can now have a more complete file by including existing plugins:
# ansible-config init --disabled -t all > ansible.cfg

# For previous versions of Ansible you can check for examples in the 'stable' branches of each version
# Note that this file was always incomplete  and lagging changes to configuration settings

# for example, for 2.9: https://github.com/ansible/ansible/blob/stable-2.9/examples/ansible.cfg
[defaults]
host_key_checking = false
inventory = aws_ec2.yaml
private_key_file = ~/.ssh/ansible.pem


[inventory]
enable_plugins = aws_ec2
aws_ec2 ansible_ssh_private_key_file=~/.ssh/ansible.pem

[aws_ec2:vars]
APP_PORT=63000


[privilege_escalation]
become = True
#become = false
become_method = sudo
become_user = root
become_ask_paaa = False

[powershell]
# (string) Directory in which ansible will keep async job information.
# Before Ansible 2.8, this was set to C(remote_tmp + "\.ansible_async").
async_dir=%USERPROFILE%\.ansible_async

# (string) Temporary directory to use on targets when copying files to the host.
remote_tmp=%TEMP%


